<html>
    <head>
        <link rel="stylesheet" href="<%=baseUrl%>media/css/bootstrap-material-design.min.css">
    </head>
    <body>
        <div id="list_container" class="col-md-8 col-xs-12 text-center"> 
            <h1>Projects</h1>
            <ul class="list-group" id="project_list">
                <% projectsWithLed.forEach(function (project) { %>
                    <a class="list-group-item" data-id="<%=project.semaphoreId%>"
                        data-led="<%=project.led%>" data-title="<%=project.title%>" 
                        data-ledmonitor="<%=project.ledMonitor%>" data-monitorUrl="<%=project.monitorUrl%>" 
                        data-leddeploy="<%=project.ledDeploy%>" data-uuid="<%=project.internalId%>"
                        data-environment="<%=project.environment%>"
                        >
                        <div class="bmd-list-group-col">
                            <p class="list-group-item-heading"><%=project.title%></p>
                            <p class="list-group-item-text"><%=hooksUrl%><%=project.internalId%></p>
                        </div>
                        <span class="label label-default label-pill remove_project">X</span>
                    </a>
                <% }) %>
            </ul>
        </div>
        <br/>
        <div id="form_container" class=" col-md-8 col-xs-12 text-center"> 
            <div >
                <div class="form-group" >
                    <select class="custom-select form-control" id="project_select_box">
                        <% projectsWithoutLed.forEach(function (project) { %>
                            <option value="<%=project.id%>"><%=project.name%></option>
                        <% }) %>
                    </select>
                </div>    
                <div class="form-group" >
                    <select class="custom-select form-control" id="environment_select_box">
                        <option value="development">Development</option>
                        <option value="staging">Staging</option>
                        <option value="production">Production</option>
                    </select>
                </div>   
                <div class="form-group" >
                    <input type"text" id="ping_url" class="form-control" placeholder="Monitor URL(optional)"/>
                </div>
                <div class="form-group" >
                    <input type"number" id="led_number" class="form-control" placeholder="Led Build" required/>
                </div>
                <div class="form-group" >
                    <input type"number" id="led_monitor" class="form-control" placeholder="Led Monitor(opt)" required/>
                </div>
                <div class="form-group" >
                    <input type"number" id="led_deploy" class="form-control" placeholder="Deploy led" required/>
                </div>
                <div class="form-group" >
                    <button class="btn  btn-success" id="add_project_button" type="button">Add project</button>    
                </div>
            </div>
            <br/>
            <div class="alert alert-danger error" role="alert" style="display:none;">
                        
            </div>
            <br/>
            <button type="btn btn-info" class="close" id="save_changes" aria-label="Close">
                CHE IN DA HOUSE!
                <img src="<%=baseUrl%>media/images/cheButton.jpg" alt="Che button" style="border-radius:50%;max-width:100px;"/>
            </button>
        </div>
    </body>
    <script src="<%=baseUrl%>media/js/jquery-3.3.1.min.js"></script>
    <script src="<%=baseUrl%>media/js/popper.min.js"></script>
    <script src="<%=baseUrl%>media/js/bootstrap-material-design.js"></script>
    <script>
        function guid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
        }
        function removeProject(evt) {
            var data = $(this).parent().data();
            var led = data.led;
            var id = data.id;
            var title = data.title
            $("#project_select_box").append(
                $("<option></option>")
                    .attr("value",id)
                    .text(title)
            ); 
            $(this).parent().remove();
        }

        $(document).ready(function() {

            $(".remove_project").click(removeProject);

            $("#add_project_button").click(function(evt) {
                var led = $("#led_number").val();
                var ledMonitor = $("#led_monitor").val() ? $("#led_monitor").val() : 0;
                var ledDeploy = $("#led_deploy").val() ? $("#led_deploy").val() : 0;
                var monitorUrl = $("#ping_url").val() ? $("#ping_url").val() : "";
                var error = 0;
                if(led) {
                    $(".projects_with_leds").each(function (element) { 
                        if(
                            //Check the main led is unique
                            $(this).data("led") == led || $(this).data("ledmonitor") == led || $(this).data("leddeploy") == led
                        || 
                            //if monitor led is provided check is unique
                        (ledMonitor && (
                            $(this).data("led") == ledMonitor || $(this).data("ledmonitor") == ledMonitor || $(this).data("leddeploy") == ledMonitor))
                            //if deploy led is provided check if unique
                        ||
                        (ledDeploy && (
                            $(this).data("led") == ledDeploy || $(this).data("ledmonitor") == ledDeploy || $(this).data("leddeploy") == ledDeploy))
                        )  
                            error = "Led invalid";
                    }); 
                    if(led == ledMonitor || led == ledDeploy || ledDeploy == ledMonitor)
                        error = "Leds can't be equal";
                    if(!error) {
                        var itemClass = $(".projects_with_leds").length % 2 == 0 ? "list-group-item-info" : "list-group-item-secondary";
                        var selectedProject = $("#project_select_box").find(":selected");
                        var selectedEnvironment = $("#environment_select_box").find(":selected");
                        var uuid = guid();
                        var a = $("<a></a>")
                            .attr("data-led", led)
                            .attr("data-ledmonitor", ledMonitor)
                            .attr("data-leddeploy", ledDeploy)
                            .attr("data-monitorUrl", monitorUrl)
                            .attr("data-uuid", uuid)
                            .attr("data-id", selectedProject.val())
                            .attr("data-environment", selectedEnvironment.val())
                            .attr("data-title",selectedProject.text())
                            .attr("class","list-group-item " + itemClass + " projects_with_leds");
                        var divItem = $("<div></div>")
                            .attr("class","bmd-list-group-col");
                        var pTitle = $("<p></p>")
                            .attr("class","list-group-item-heading")
                            .text(selectedProject.text()+ " [" + selectedEnvironment.text() + "]");
                        var pSubheading = $("<p></p>")
                            .attr("class","list-group-item-text")
                            .text("<%=hooksUrl%>" + uuid);
                        var close = $("<span></span>")
                            .attr("class","label label-default label-pill")
                            .text("X")
                            .click(removeProject);
                        pTitle.appendTo(divItem);
                        pSubheading.appendTo(divItem);
                        divItem.appendTo(a);
                        close.appendTo(a);
                        a.appendTo("#project_list");
                        selectedProject.remove();
                        error = 0;
                        $(".error").text("").hide();
                        $("#led_number").val("");
                        $("#led_monitor").val("");
                        $("#led_deploy").val("");
                        $("#ping_url").val("");
                    }
                } else 
                    error = "Led is required";
 
                if(error)
                    $(".error").text(error).show();
                
            });

            $("#save_changes").click(function(evt) {
                evt.preventDefault();
                var data = [];
                $(".projects_with_leds").each(function (index) { 
                    var ledMonitor = $(this).data("ledmonitor");
                    var leddeploy = $(this).data("leddeploy");
                    var url = $(this).data("monitorurl");
                    var dataElement = {
                        id: $(this).data("uuid"),
                        ledBuild: $(this).data("led"),
                        environmemt: $(this).data("environment")
                    };
                    if(ledMonitor) dataElement.ledMonitor = ledMonitor;
                    if(leddeploy) dataElement.ledDeploy = leddeploy;
                    if(url) dataElement.monitorUrl= url
                    
                    data.push(dataElement);
                });

                //[{"id", "ledBuild", "ledMonitor", "monitorUrl"},...]
                console.log(data);
                var dataObject = {data:data}
                
                $.ajax({
                    type: "POST",
                    url: "/projects",
                    data: JSON.stringify(data),
                    success: function() {console.log("ok");},
                    dataType: "json",
                    contentType: "application/json",
                    processData: false
                });
            });
        });
        
    </script>
</html>