<html>
    <head>
        <link rel="stylesheet" href="<%=baseUrl%>media/css/bootstrap-material-design.min.css">
    </head>
    <body>
        <div id="list_container" class="col-md-8 col-xs-12 text-center"> 
            <h1>Projects</h1>
            <ul class="list-group" id="project_list">
                <% projectsWithLed.forEach(function (project) { %>
                    <a class="list-group-item" data-id="<%=project.semaphoreId%>"
                        data-led="<%=project.led%>" data-title="<%=project.title%>" 
                        data-ledmonitor="<%=project.ledMonitor%>" data-monitorUrl="<%=project.monitorUrl%>" 
                        data-leddeploy="<%=project.ledDeploy%>" data-uuid="<%=project.internalId%>"
                        data-environment="<%=project.environment%>"
                        >
                        <div class="bmd-list-group-col">
                            <p class="list-group-item-heading"><%=project.title%></p>
                            <p class="list-group-item-text"><%=hooksUrl%><%=project.internalId%></p>
                        </div>
                        <span class="label label-default label-pill remove_project">X</span>
                    </a>
                <% }) %>
            </ul>
        </div>
        <br/>
        <div id="form_container" class=" col-md-8 col-xs-12 text-center"> 
            <div >
                <div class="form-group" >
                    <select class="custom-select form-control" id="project_select_box">
                        <% projectsWithoutLed.forEach(function (project) { %>
                            <option value="<%=project.id%>"><%=project.name%></option>
                        <% }) %>
                    </select>
                </div>    
                <div class="form-group" >
                    <select class="custom-select form-control" id="environment_select_box">
                        <option value="development">Development</option>
                        <option value="staging">Staging</option>
                        <option value="production">Production</option>
                    </select>
                </div>   
                <div class="form-group" >
                    <input type"text" id="ping_url" class="form-control" placeholder="Monitor URL(optional)"/>
                </div>
                <div class="form-group" >
                    <input type"number" id="led_number" class="form-control" placeholder="Led Build" required/>
                </div>
                <div class="form-group" >
                    <input type"number" id="led_monitor" class="form-control" placeholder="Led Monitor(opt)" required/>
                </div>
                <div class="form-group" >
                    <input type"number" id="led_deploy" class="form-control" placeholder="Deploy led" required/>
                </div>
                <div class="form-group" >
                    <button class="btn  btn-success" id="add_project_button" type="button">Add project</button>    
                </div>
            </div>
            <br/>
            <div class="alert alert-danger error" role="alert" style="display:none;">
                        
            </div>
            <br/>
            <button type="btn btn-info" class="close" id="save_changes" aria-label="Close">
                CHE IN DA HOUSE!
                <img src="<%=baseUrl%>media/images/cheButton.jpg" alt="Che button" style="border-radius:50%;max-width:100px;"/>
            </button>
        </div>
    </body>
    <script src="<%=baseUrl%>media/js/jquery-3.3.1.min.js"></script>
    <script src="<%=baseUrl%>media/js/popper.min.js"></script>
    <script src="<%=baseUrl%>media/js/bootstrap-material-design.js"></script>
    <script src="<%=baseUrl%>media/js/general.js"></script>
    <script src="<%=baseUrl%>media/js/dashboardEvents.js"></script>
    <script>
        $(document).ready(function() {
            $(".remove_project").click(removeProject);
            $("#add_project_button").click(function() {addProject("<%=hooksUrl%>");});
            $("#save_changes").click(function(evt) {
                evt.preventDefault();
                saveProjects();
            });
        }); 
    </script>
</html>